[access "refs/*"]
	owner = group user/jgartrel (jgartrel)
[access "refs/for/refs/*"]
	read = group user/jgartrel (jgartrel)
	push = group user/jgartrel (jgartrel)
	label-Code-Review = -2..+2 group user/jgartrel (jgartrel)
	label-Verified = -1..+1 group user/jgartrel (jgartrel)
	rebase = group user/jgartrel (jgartrel)
	removeReviewer = group user/jgartrel (jgartrel)
	submit = group user/jgartrel (jgartrel)
[access "refs/heads/*"]
	read = group user/jgartrel (jgartrel)
	create = group user/jgartrel (jgartrel)
	push = +force group user/jgartrel (jgartrel)
	pushMerge = group user/jgartrel (jgartrel)
[access "refs/tags/*"]
	push = +force group user/jgartrel (jgartrel)
	pushTag = group user/jgartrel (jgartrel)
	pushSignedTag = group user/jgartrel (jgartrel)
